
<router-outlet></router-outlet>
 <body>
    <!--  -->
   <header>
    <div class="Titulo">
    <div class="confiTi">
            <H1>MODULO_SEGURIDAD</H1>
        </div>
      </div>
   </header>
   <!--  -->
   <main>

        <div class="Contenidos">

            <form class="ConfigCont">

              <li class="Id_Modulo">
              <label for="Id_Modulo">Id_Modulo_:</label>
              <input type="text" name="Id_Modulo" id="Id_Modulo">
            </li>
            <br>
            <li class="Descripcion">
              <label for="Descripcion">Descripcion:</label>
              <input type="text" name="Descripcion" id="Descripcion">
            </li>
            <br>
            <li class="Estado">
              <label for="Estado">Estado_____:</label>
              <input type="text" name="Estado" id="Estado">
            </li>

            <div class="Contenedorbtn">
         <button class="btn1">Guardar</button>
         <button class="btn2">Buscar</button>
         <button class="btn3">Cancelar</button>
         <button class="btn4">Modificar</button>
         <button class="btn5">Imprimir</button>
         <button class="btn6">Eliminar</button>
         <button class="btn7">Salir</button>
        </div>
            </form>
          </div>
   </main>
   <!--  -->
  </body>
